.formo-video-popup {
  position: relative;
  z-index: 1;

  & *:has( > .formo-video-popup__video) {
    height: 100vh;
  }
  & .formo-video-popup__title {
    pointer-events: all;
    width: 100%;
  }
  & .formo-video-popup__playbtn ,
  & .formo-video-popup__close {
    pointer-events: none;
  }
  & .explainer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--wp--preset--color--formo-peach);
    color: var(--wp--preset--color--formo-cream);
    font-size: 1rem;
    padding: 0.5em;
    margin: 0;
    z-index: 2;
  }
}